@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;600&display=swap');

:root{
    --primary: rgb(134, 0, 0);
    --background: rgb(231, 231, 231);
    --heading: 'Bebas Neue', cursive;
    --content: 'Raleway', sans-serif;
}
body{
    background-color: var(--background);
    margin: 0;
    margin: 1% auto;
}
h1{
    font-family: var(--heading);
}
div.toast-body{
    visibility: 0;
    opacity: 0;
    transition: .5s ease;
}
div.show{
    border-left: solid 10px white;
    background-color: rgb(209, 2, 2);
    padding: 2%;
    position: fixed;
    top: 40px;
    left: 0;
    visibility: 1;
    opacity: 1;
    transition: .5s ease;
}
p.toast{
    color: white;
    font-size: 20px;
    font-family: var(--content);
}
img{
    max-width: 200px;
    max-height: 150px;
    border: var(--primary) solid 4px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--primary);
}
@media screen and (max-width: 800px){
    body{
        padding: 0;
        margin: 0;
    }
    div.heading{
        background-color: var(--primary);
        color: white;
        font-family: var(--heading);
        font-size: 25px;
        padding: 2%;
        text-align: center;
    }
    .form-holder{
        background-color: white;
        text-align: left;
        padding: 10px;
    }
    label{
        display: block;
        color: rgb(172, 172, 172);
        font-family: var(--content);
        font-weight: bold;
    }
    .name-holder{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    input,textarea{
        padding: 13px;
        background-color: rgb(221, 221, 221);
        border: none;
        border-radius: 5px;
        width: 100%;
    }
    div.hori, div.name-hori{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 20px; 
        align-items: center;
    }
    div.hori label{
        grid-column: 1/3;
        color: rgb(107, 107, 107);
    }
    div.hori input,textarea{
        grid-column: 3/12;
    }
    div.name-hori p{
        grid-column: 1/3;
        color: rgb(107, 107, 107);
        font-family: var(--content);
        font-weight: bold;
        font-size: 9px;
    }
    .name-hori div.name-holder{
        grid-column: 3/12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    } 
    .fname-holder{
        grid-column: 1/6;
    }
    .lname-holder{
        grid-column: 8/13;
    }
    .name-holder input{
        width: 100%;
    }
    .name-holder label{
        font-size: 8px;
        margin-top: 5px;
    }
    div.phone-grid{
        grid-column: 3/12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .phone-grid #area-code{
        grid-column: 1/3;
    }
    .phone-grid #phone{
        grid-column: 5/13;
    }
    p.disclamer{
        color: rgb(182, 182, 182);
        font-size: 10px;
        font-family: var(--content);
    }
    button{
        border: none;
        padding: 4% 10%;
        color: white;
        font-family: var(--content);
        background-color: var(--primary);
        border-radius: 5px;
        font-weight: bold;
    }
    div.hori label{
        font-size: 9px;
    }
}

@media screen and (min-width: 801px){
    .container{
        align-items: center;
        text-align: center;
        justify-content: center;
        /* height: 100vh; */
        display: flex;
    }
    div.holder{
        width: 70%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgb(170, 170, 170);
    }
    div.heading{
        background-color: var(--primary);
        color: white;
        font-family: var(--heading);
        font-size: 30px;
        padding: 1%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .form-holder{
        background-color: white;
        text-align: left;
        padding: 5% 10%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    label{
        display: block;
        color: rgb(172, 172, 172);
        font-family: var(--content);
        font-weight: bold;
    }
    .name-holder{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    input,textarea{
        padding: 13px;
        background-color: rgb(221, 221, 221);
        border: none;
        border-radius: 5px;
        width: 100%;
    }
    div.hori, div.name-hori{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 20px;
        align-items: center;
    }
    div.hori label{
        grid-column: 1/3;
        color: rgb(107, 107, 107);
    }
    div.image-holder{
        grid-column: 3/13;
    }
    div.hori input,textarea{
        grid-column: 3/13;
    }
    div.name-hori p{
        grid-column: 1/3;
        color: rgb(107, 107, 107);
        font-family: var(--content);
        font-weight: bold;
    }
    .name-hori div.name-holder{
        grid-column: 3/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    } 
    .fname-holder{
        grid-column: 1/6;
    }
    .lname-holder{
        grid-column: 7/13
    }
    .name-holder input{
        width: 100%;
    }
    div.phone-grid{
        grid-column: 3/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .phone-grid #area-code{
        grid-column: 1/3;
    }
    .phone-grid #phone{
        grid-column: 4/13;
    }
    p.disclamer{
        color: rgb(182, 182, 182);
        font-size: 14px;
        font-family: var(--content);
    }
    button{
        border: none;
        padding: 2% 10%;
        color: white;
        font-family: var(--content);
        background-color: var(--primary);
        border-radius: 5px;
        font-weight: bold;
    }
}