@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
:root{
    --primary: rgb(211, 1, 1);
    --background: rgb(240, 240, 240);
    --black: rgb(37, 37, 37);
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
a{
    text-decoration: none;
    color: grey;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}
@media screen and (max-width: 800px){
    *{
        display: none;
    }
}
@media screen and (min-width: 801px){
    section.prompt{
        display: none;
    }
    body{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* overflow-y: hidden; */
    }
    aside{
        grid-column: 1/2;
        background-color: var(--primary);
        /* height: 100vh; */
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
    }
    aside img{
        filter: invert(1);
        height: 50px;
        width: 50px;
    }
    aside .la{
        color: white;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }
    aside div{
        padding: 10px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
    }
    #people{
        background-color: rgba(0, 0, 0, 0.26);
    }
    .body{
       grid-column: 2/13;
    }
    .title{
        background-color: var(--background);
        padding: 2% 5%;
        font-size: 30px;
        color: var(--primary);
        font-weight: 300;
    }
    div.states{
        padding: 2% 5%;
        display: flex;
        overflow-y: hidden;
    }
    div.states div{
        display: flex;
        align-items: center;
        padding: 0px 30px;
        margin: 0 10px;
        background-color: rgba(214, 3, 3, 0.103);
        height: 40px;
        border-radius: 3px;
        cursor: pointer;
    }
    .selected{
        background-color: var(--primary);
        color: white;
    }
    div.states div p{
        color: var(--primary);
        font-size: 17px;
        font-weight: 300;
    }
    .note{
        font-size: 20px;
        font-weight: 300;
        margin: 2% 5%;
        padding: 0 1%;
        border-left: solid 2px var(--primary);
        transition: 0.5s ease;
    }
    div.results{
        padding: 2% 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    #attorney-image{
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.637);
        padding: 10px;
        background-position: center;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s ease;
    }
    #attorney-image:hover{
        transition: .5s ease;
        box-shadow: 0 0 15px var(--primary);
        /* padding: 15px; */
    }
    #attorney-name{
        color: white;
        display: block;
        font-weight: 300;
        font-size: 18px;
        margin: 2px 0;
        margin-top: 150px;
        transition: .5s ease;
    }
    #firm{
        display: block;
        color: white;
        font-weight: 300;
        margin: 1px 0;
    }
    #location{
        display: block;
        color: white;
        font-weight: 300;
        margin: 0;
        text-transform: capitalize;
    }
    .warning{
        grid-column: 1/4;
        font-size: 70px;
        margin: 0;
        color: rgb(202, 202, 202);
    }
}